*{
    margin: 0;
    padding: 0;
}

body{
    background:#000;
}

#contenedor{
    width: 700px;
    height: auto;
    margin:auto;
    margin-top: 15px;
    background:#887951;
}

header{
    width: 700px;
    height: 100px;
    background: linear-gradient(#887951,#000);
    background-size: cover;
   }

.cabecera{
    width:700px;
    height:100px;
    background-size: cover;
}



footer{
    width: 700px;
    height:35px;
    background-size: cover;
    background: linear-gradient(#252c31,#887951);
    margin:auto;
}

.icono{
    width:30px;
    height:30px;
    position:relative;
    left:625px;
    top: 1px;
    margin-top:2px;
}

.icono:hover{
    box-shadow: 5px 10px 10px #dc143c;
}


nav{
    width: 700px;
    height:auto;
    background: linear-gradient(#000, #887951);
    
    }
    
    

#menu{
    list-style:none;
    font-family:"Lucida Grande", verdana, arial, helvetica, sans-serif;
    font-size: 16px;
    display:flex;
    padding: 5px 7px;
    
    
    
}

#menu li {
    margin-bottom: 10px;
    padding: 0px 16px;
   
  }

#menu li a{
    text-decoration: none;
    color: #fff;
    padding: 10px 3px;
    
    
    }

#menu li a:hover{
    background: #336a6d;
    color: #cbd234;
    border: 1px solid #ff0;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

article h2{
    text-align: center;
    font-size:30px;
    font-family: "Lucida Grande", verdana, arial, helvetica, sans-serif;
}

article p{
    font-size: 18px;
    font-family: "Lucida Grande", verdana, arial, helvetica, sans-serif;
    padding: 10px;
}